@media screen and (max-width: 1190px) and (min-width: 881px) {
  .header {
    flex-wrap: nowrap;
  }

  .avatar, .greeting {
    width: calc(var(--basic-size) * 1.5 + var(--basic-gap) / 2);
    height: calc(var(--basic-size) * 1.5 + var(--basic-gap) / 2);
  }

  .languages, .education, .interests, .contact {
    width: calc(var(--basic-size) * 3 + var(--basic-gap) * 2);
  }

  .tools {
    flex-direction: row;
    width: calc(var(--basic-size) * 3 + var(--basic-gap) * 2);
  }

  .tools-list {
    flex-direction: row;
  }
}

@media screen and (max-width: 881px) and (min-width: 608px) {
  .header {
    flex-wrap: nowrap;
  }

  .experience {
    width: calc(var(--basic-size) * 2 + var(--basic-gap));
  }

  .tools {
    width: calc(var(--basic-size) * 2 + var(--basic-gap));
  }

  .tools-list {
    gap: 1rem;
    flex-direction: row;
  }
}

@media screen and (max-width: 608px) {
  .avatar, .greeting, .languages, .experience, .tools, .education, .interests, .contact {
    width: 85vw;
    flex-direction: column;
  }

  .experience-bottom-row {
    flex-direction: column;
  }

  .experience-info-list {
    list-style: none;
    max-width: 100vw;
  }

  .experience-info {
    border-block: 1px solid black;
  }

  .experience-item.active .experience-info {
    border-block: 1px solid white;
  }


  .tools-list {
    flex-direction: column;
  }

  .education-list {
    flex-direction: column;
  }

  .education-item {
    width: 100%
  }

  .contact-email {
    font-size: 0.8rem;
  }
}